/* 중앙 정렬 CSS */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(32,33,36);
    color: rgb(190,193,197);
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: rgb(190,193,197);
}

section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.img1 img, .img2 img {
    display: block;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form label, form input, form select, form button, form a {
    margin: 5px 0;
}

input[type="password"] {
    width: 30%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    text-align: center;
}

input.text1 {
    width: 30%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    text-align: center;
}

input.text2 {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    text-align: center;
}

select {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    text-align: center;
}

section.record1{
    border: 1px solid #ddd;
    width: 780px;
}

button, input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

table.main1 {
    width: 200px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: rgb(32,33,36);
    color: rgb(190,193,197);
    text-align: center;
}
